name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Check Formatting
        run: npm run format-check

      - name: Lint
        run: npm run lint

      - name: Run Tests
        run: npm test

      - name: Build
        run: npm run build

      - name: Check for uncommitted changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "ERROR: There are uncommitted changes after building:"
            git status
            git diff
            exit 1
          fi

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - run: |
          npm ci
          npm run build

      - name: Test Action - XC8
        uses: ./
        with:
          compiler: 'xc8'
          version: '3.10'

      - name: Verify XC8
        run: xc8-cc --version

